<a href="https://colab.research.google.com/github/jd19l009/IMPP/blob/main/eventst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#使用ライブラリーの読み込み
import datetime as dt
import numpy as np
import pandas as pd
import pickle as pk
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
from pandas_datareader.stooq import StooqDailyReader

In [ ]:
#ディレクトリーの指定
dir = '/content/drive/MyDrive/Data/'

#イベント条件の入力
c_name = '4528.JP'
market_i = '^TPX'
e_day = dt.date(2020,6,5)
eve_w = [-1, 5]
gap = 20
est_w = 100

#株価データの取得期間の設定
start = dt.date(2006, 11, 12)
end = dt.date(2022, 5, 24)

In [ ]:
#ターゲット及びインデックスの株価データの取得及び保存
stooq = StooqDailyReader(c_name, start, end)
data = stooq.read()
data.to_pickle(dir + c_name)
stooq = StooqDailyReader(market_i, start, end)
data = stooq.read()
data.to_pickle(dir + market_i)

In [ ]:
#ターゲット及びインデックスの株価データの読み込み
with open(dir + c_name, 'rb') as d:
  df_t = pk.load(d)
with open(dir + market_i, 'rb') as d:
  df_m = pk.load(d)

# print(df_t)
# print(df_m)

In [ ]:
#データフレームに別INDEXを付与
df_t.reset_index(inplace = True)
df_m.reset_index(inplace = True)

# print(df_t)
# print(df_m)

In [ ]:
#最終列にリターンを追加
dt_t = df_t["Return"] = ( df_t['Close'] - df_t['Close'].shift(1)) /df_t['Close'].shift(1)
dt_m = df_m["Return"] = ( df_m['Close'] - df_m['Close'].shift(1)) /df_m['Close'].shift(1)

print(df_t)
print(df_m)

           Date     Open     High      Low    Close   Volume    Return
0    2022-05-23  3538.00  3586.00  3529.00  3567.00  1589300       NaN
1    2022-05-20  3484.00  3502.00  3450.00  3489.00  1641500 -0.021867
2    2022-05-19  3422.00  3488.00  3417.00  3473.00  1342200 -0.004586
3    2022-05-18  3461.00  3478.00  3430.00  3467.00  1649300 -0.001728
4    2022-05-17  3375.00  3417.00  3367.00  3407.00  1387600 -0.017306
...         ...      ...      ...      ...      ...      ...       ...
3788 2006-11-17  1004.36  1020.42  1002.54  1016.81   973012  0.005359
3789 2006-11-16  1000.74  1009.78  1000.74  1004.36   719378 -0.012244
3790 2006-11-15  1004.36  1011.39   997.13  1000.74  1368973 -0.003604
3791 2006-11-14  1006.14  1011.39  1004.36  1004.36   796353  0.003617
3792 2006-11-13  1000.74  1006.14   988.27  1006.14   827914  0.001772

[3793 rows x 7 columns]
           Date     Open     High      Low    Close        Volume    Return
0    2022-05-24  1896.07  1896.82  1878.26  1878.26           NaN       NaN
1    2022-05-23  1892.73  1897.95  1886.94  1894.57  1.156524e+09  0.008684
2    2022-05-20  1861.87  1878.83  1859.88  1877.37  1.320504e+09 -0.009079
3    2022-05-19  1850.82  1862.79  1840.54  1860.08  1.329680e+09 -0.009210
4    2022-05-18  1878.94  1890.60  1874.37  1884.69  1.330581e+09  0.013231
...         ...      ...      ...      ...      ...           ...       ...
3791 2006-11-17  1582.71  1585.75  1571.44  1573.54           NaN  0.025816
3792 2006-11-16  1595.71  1604.86  1580.79  1582.04           NaN  0.005402
3793 2006-11-15  1603.85  1607.38  1591.15  1592.00           NaN  0.006296
3794 2006-11-14  1584.70  1601.20  1584.50  1596.42           NaN  0.002776
3795 2006-11-13  1573.72  1574.50  1559.43  1568.76           NaN -0.017326

[3796 rows x 7 columns]